<template>
  <div style="max-width: 60%;  margin: 0 auto;">
    <h1>Add Tasks</h1>
    <b-form @submit.prevent="onSubmit" novalidate>
      <b-form-group
        id="input-group-1"
        label="Title:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.title"
          placeholder="Enter your Task Title"
          required
        ></b-form-input>
         <b-form-invalid-feedback
            id="input-1-invalid-feedback"
            ref="input-1-invalid-feedback"
          ></b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Type:"
        label-for="input-2"
      >
        <b-form-select required v-model="form.type" :options="task_types" value-field="id" text-field="label" id="input-2" ref="input-2"></b-form-select>
        <b-form-invalid-feedback
          id="input-2-invalid-feedback"
          ref="input-2-invalid-feedback"
        ></b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
          id="input-group-3"
          label="Nb Hours Forecast:"
          label-for="input_3"
        >
          <b-form-input
            id="input-3"
            ref="input-3"
            v-model="form.nbHoursForecast"
            type="number"
            required
            placeholder="Enter the number of the Forecasted hours"
          ></b-form-input>
          <b-form-invalid-feedback
            id="input-3-invalid-feedback"
            ref="input-3-invalid-feedback"
          ></b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="input-group-4"
          label="Nb Hours Real:"
          label-for="input-4"
        >
          <b-form-input
            id="input-4"
            ref="input-4"
            v-model="form.nbHoursReal"
            type="number"
            required
            placeholder="Enter the real number of hours"
          ></b-form-input>
          <b-form-invalid-feedback
            id="input-4-invalid-feedback"
            ref="input-4-invalid-feedback"
          ></b-form-invalid-feedback>
        </b-form-group>

         <b-form-group
        id="input-group-5"
        label="Developer(s):"
        label-for="input-5"
      >
        <b-form-select required v-model="form.developers"  multiple :options="devs" value-field="id" text-field="email" id="input-5" ref="input-5"></b-form-select>
        <b-form-invalid-feedback
          id="input-5-invalid-feedback"
          ref="input-5-invalid-feedback"
        ></b-form-invalid-feedback>
      </b-form-group>
      <b-button type="submit" variant="secondary">Submit</b-button>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "AddTasksComponent",
  data() {
    return {
      form: {
        title: '',
        type: '',
        nbHoursForecast: '',
        nbHoursReal: '',
        developers: []
      },
    };
  },
  computed: {
    devs() {
      return this.$store.state.developers;
    },
    task_types(){
      return this.$store.state.task_type;
    },
    

  },
  mounted: function() {
      this.$store.dispatch("getTaskType");
      this.$store.dispatch("getDevs");
  },
  methods: {
    
   onSubmit(){
     axios.post("http://localhost:8080/tasks",{
            title: this.form.title,
            type: {
              id: this.form.type
            },
            nbHoursForecast: this.form.nbHoursForecast,
            nbHoursReal: this.form.nbHoursReal,
            developers: this.form.developers.map(item => {
              return {
                id: item
              }
            })
          }).then(() => {

          this.$store.dispatch('getTasks');
        }).catch((error) => {
          for (let errorItem of error.response.data.errors) {
          
            if (errorItem.field == 'title') {
              this.$refs['input-1'].$el.classList.add('is-invalid');
              this.$refs['input-1-invalid-feedback'].innerText = errorItem.message;
            }
            if (errorItem.field == 'type.id') {
              this.$refs['input-2'].$el.classList.add('is-invalid');
              this.$refs['input-2-invalid-feedback'].innerText = errorItem.message;
            }
            if (errorItem.field == 'nbHoursForecast') {
              this.$refs['input-3'].$el.classList.add('is-invalid');
              this.$refs['input-3-invalid-feedback'].innerText = errorItem.message;
            }
            if (errorItem.field == 'nbHoursReal') {
              this.$refs['input-4'].$el.classList.add('is-invalid');
              this.$refs['input-4-invalid-feedback'].innerText = errorItem.message;
            }
            if (errorItem.field == 'developers') {
              this.$refs['input-5'].$el.classList.add('is-invalid');
              this.$refs['input-5-invalid-feedback'].innerText = errorItem.message;
            }
          }
        });
   }
    


  },
};
</script>