<template>
  <div class="div-developers">
    <h1>Developers</h1>
    <b-table striped :items="devs" :fields="fields"></b-table>
    <div></div>
  </div>
</template>

<script>
export default {
  name: "DevComponent",
  data() {
    return {
      fields: [
        {
          key: "firstname",
          sortable: true,
          label: "Firstname",
        },
        {
          key: "lastname",
          sortable: true,
          label: "Lastname",
        },
        {
          key: "email",
          sortable: true,
          label: "Email",
        },
        {
          key: "startContract",
          sortable: true,
          label: "Start Contract",
        },
      ],
    };
  },
  
  computed: {
    devs() {
      return this.$store.state.developers;
    },
  },
  mounted() {
    this.$store.dispatch("getDevs");
  },
};
</script>

<style scoped>
.div-developers {
  margin: 5%;
}
</style>
