<template>
  <div>
    <h1>Welcome to Amine Bouzid's Kanban App</h1>
  </div>
</template>

<script>
export default {
  name: "AddTasksComponent",
  computed: {
    devs() {
      return this.$store.state.developers;
    },
  },
  methods: {
    getDevs() {
      this.$store.dispatch("getDevs");
    },
  },
};
</script>