<template>
  <div>
    <h1>Tasks</h1>
    <div style="max-width: 60%;  margin: 0 auto;">
      <div class="row mb-1">
        <div class="col-3 columnHeader" v-for="item in task_status" v-bind:key="item.id">
                 <b-card style="background-color:#42b983" no-body class="text-center"><h4 style="margin: 5px;{'background-color':colors[0]}">{{ item.label }}</h4></b-card>
            </div>           
        </div>
         <div  style="margin-top:5px;" class="row" v-for="task in tasks" v-bind:key="task.id">
            <div class="col-3" v-for="columnStatus in task_status" v-bind:key="columnStatus.id">
                <b-card  v-if="task.status.id == columnStatus.id">
                  <h5 >
                    <b-icon-arrow-bar-left style="color: red" v-if="task.status.id!=1" v-on:click="moveLeft(task.id)"></b-icon-arrow-bar-left>{{ task.title }}<b-icon-arrow-bar-right style="color: blue" v-if="task.status.id!=4" v-on:click.prevent="moveRight(task.id)"></b-icon-arrow-bar-right> 
                  </h5>
                  <p>
                    <strong>{{ task.type.label }}</strong>
                  </p>
                  <p>
                    Forecasted Hours : {{ task.nbHoursForecast }}
                  </p>
                  <p>
                    Real Hours : {{ task.nbHoursReal }}
                  </p>
                  <p><strong>Devs</strong> </p>
                  <p v-for="dev in task.developers" v-bind:key="dev.id">
                    - {{dev.firstname}} {{dev.lastname  }}
                  </p>
                </b-card>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TasksComponent",
  data(){
    return {
      colors : ['red', 'blue', 'green','yellow'],
    };
  },
  computed: {
    task_status(){
      return this.$store.state.task_status;
    },
    tasks() {
      return this.$store.state.tasks;
    }
  },
  mounted: function() {
    this.$store.dispatch('getTasks');
    this.$store.dispatch('getTaskStatus');
  },
  methods: {
    moveLeft(id_task){
      this.$store.dispatch('moveLeft',id_task)
    },
    moveRight(id_task){
      this.$store.dispatch('moveRight',id_task)
    }
  },
};
</script>
<style>
p { margin:0 }
</style>